body {
	position: relative;
}

.header {
  margin-bottom: 20px;
}

.has-tooltip {
  color: #000;
  background: yellow;
	display: inline-block;
}

.has-tooltip:hover {
  color: red;
}

.tooltip {
  position: absolute;
  display: block;
  background: black;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
	opacity: 0;
}

.tooltip_active {
  opacity: 1;
}
